node-red-debug/data/flows.json
[
    {
        "id": "c93c614a599c933f",
        "type": "tab",
        "label": "Transfer Funcion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed4eae75be39af2a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1a66482931460f20",
        "type": "inject",
        "z": "c93c614a599c933f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "99a477e778710b4d",
                "0f7ebb369b607327"
            ]
        ]
    },
    {
        "id": "99a477e778710b4d",
        "type": "transfer-function",
        "z": "c93c614a599c933f",
        "name": "",
        "function": "1 / (s + 1)",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "94257585bc058f70",
                "c2088fb9688b1206"
            ]
        ]
    },
    {
        "id": "f31516dc93619357",
        "type": "debug",
        "z": "c93c614a599c933f",
        "name": "output h(s)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "94257585bc058f70",
        "type": "plot",
        "z": "c93c614a599c933f",
        "name": "Plot-1",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "f31516dc93619357"
            ]
        ]
    },
    {
        "id": "7a30cfc4d5b46bf7",
        "type": "plot",
        "z": "c93c614a599c933f",
        "d": true,
        "name": "Plot-2",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "f31516dc93619357"
            ]
        ]
    },
    {
        "id": "0f7ebb369b607327",
        "type": "transfer-function",
        "z": "c93c614a599c933f",
        "name": "",
        "function": "1/(s^2 + 0.5s + 1)",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "7a30cfc4d5b46bf7",
                "c2088fb9688b1206"
            ]
        ]
    },
    {
        "id": "c2088fb9688b1206",
        "type": "plot",
        "z": "c93c614a599c933f",
        "d": true,
        "name": "Plot-3",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    }
]